<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Naviglator by Alethea Toh</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>

  <script>
  // global variables
  var panorama;

  var person_1_language;
  var person_1_map_num = 1;
  var person_1_streetview_num = 1;
  var person_1_start_location;
  var person_1_end_location;

  var person_2_language;
  var person_2_map_num = 1;
  var person_2_streetview_num = 1;
  var person_2_start_location;
  var person_2_end_location;

  var curr_start_location;
  var curr_end_location;

  </script>

  <div class="ui labeled icon top fluid three item menu">
    <a id="info-button" class="item">
      <i class="pink question circle icon"></i>
      Help
    </a>
    <div class="item">
      <img id="logo" src="img/logo.png"/>
    </div>
    <a class="item" href="https://survey.az1.qualtrics.com/jfe/form/SV_a3mSAdFuFGMAz5j" target="_blank">
      <i class="green check circle icon"></i>
      Completed Interaction
    </a>
  </div>

  <div id="container">
    <div id="header">
      <!-- <img id="logo" src="img/logo.png"/> -->
    </div>

    <!-- Person 1 Control Box -->
    <div class="box wrapper" id="person-1-box-wrapper">
      <div style="text-align:center;margin-top:5px">
        <img class="user-icon" src="img/user1.svg"/>
      </div>
      <!-- Choose Language -->
      <div class="ui form box-element">
        <div class="tiny field">
          <label id="language-1" style="text-align:center"><img class="icon" src="img/language.svg"/>Language</label>
          <select class="ui person-1 search dropdown" id="person-1-language-input">
            <option value="">Select Language</option>
            <option value="af">Afrikaans</option>
            <option value="ar">Arabic</option>
            <option value="apc">Arabic, Levantine</option>
            <option value="bn">Bangla</option>
            <option value="bs">Bosnian (Latin)</option>
            <option value="bg">Bulgarian</option>
            <option value="yue">Cantonese (Traditional)</option>
            <option value="ca">Catalan</option>
            <option value="zh-Hans">Chinese Simplified</option>
            <option value="zh-Hant">Chinese Traditional</option>
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="dl">Dutch</option>
            <option value="en">English</option>
            <option value="et">Estonian</option>
            <option value="fj">Fijian</option>
            <option value="fil">Filipino</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="ht">Haitian Creole</option>
            <option value='he'>Hebrew</option>
            <option value='hi'>Hindi</option>
            <option value='mww'>Hmong Daw</option>
            <option value='hu'>Hungarian</option>
            <option value='is'>Icelandic</option>
            <option value='id'>Indonesian</option>
            <option value='it'>Italian</option>
            <option value='ja'>Japanese</option>
            <option value='sw'>Kiswahili</option>
            <option value='tlh'>Klingon</option>
            <option value='tlh-Qaak'>Klingon (plqaD)</option>
            <option value='ko'>Korean</option>
            <option value='lv'>Latvian</option>
            <option value='lt'>Lithuanian</option>
            <option value='mg'>Malagasy</option>
            <option value='ms'>Malay</option>
            <option value='mt'>Maltese</option>
            <option value='nb'>Norwegian</option>
            <option value='fa'>Persian</option>
            <option value='pl'>Polish</option>
            <option value='pt'>Portuguese</option>
            <option value='otq'>Queretaro Otomi</option>
            <option value='ro'>Romanian</option>
            <option value='ru'>Russian</option>
            <option value='sm'>Samoan</option>
            <option value='sr-Cyrl'>Serbian (Cyrillic)</option>
            <option value='sr-Latn'>Serbian (Latin)</option>
            <option value='sk'>Slovak</option>
            <option value='sl'>Slovenian</option>
            <option value='es'>Spanish</option>
            <option value='sv'>Swedish</option>
            <option value='ty'>Tahitian</option>
            <option value='ta'>Tamil</option>
            <option value='te'>Telugu</option>
            <option value='th'>Thai</option>
            <option value='to'>Tongan</option>
            <option value='tr'>Turkish</option>
            <option value='uk'>Ukrainian</option>
            <option value='ur'>Urdu</option>
            <option value='vi'>Vietnamese</option>
            <option value='cy'>Welsh</option>
            <option value='yua'>Yucatec Maya</option>
          </select>
          <div id="person-1-language-prompt" class="ui red basic pointing label">
            Please enter a language
          </div>
        </div>
      </div>

      <!-- 3 types of inputs: 1) Request for Directions (display form) 2) Send Directions (Google Maps) 3) Free Text -->
      <div id="select-input-type" class="box-element" style="text-align:center">
        <div class="ui vertical animated button" id="ask-directions-button-1" tabindex="0">
          <div class="hidden content" id="ask-1">Ask</div>
          <div class="visible content">
            <i class="question icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button" id="send-directions-button-1" tabindex="0">
          <div class="hidden content send-1">Send</div>
          <div class="visible content">
            <i class="map signs icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button" id="chat-button-1" tabindex="0">
          <div class="hidden content" id="chat-1">Chat</div>
          <div class="visible content">
            <i class="chat icon"></i>
          </div>
        </div>
      </div>

      <!-- Display the corresponding type of input form -->
      <div id="ask-directions-box-1" class="box-element" style="display:none">
        <div class="ui form">
          <div class="field">
            <label id="start-label-1">Start location</label>
            <input class="directions-input" type="text" id="start-location-1" name="start-location" placeholder="Duke University">
          </div>
          <div class="field">
            <label id="end-label-1">End location</label>
            <input class="directions-input" type="text" id="end-location-1" name="end-location" placeholder="Namu Durham">
          </div>
          <button class="ui compact button" id="person-1-submit-request">
            <i class="paper plane icon"></i>
            <span class="send-1">Send</span>
          </button>
        </div>
      </div>

      <div id="send-directions-box-1" class="box-element" style="display:none;text-align:center">
        <button class="ui tiny icon button" id="person-1-send-gmaps">
          <img style="width:20px;" src="img/gps.svg"/>
          <span id="directions-1">Directions</span>
        </button>
        <button class="ui tiny icon button" id="person-1-send-streetview">
          <img style="width:20px;" src="img/street-view.svg"/>
          <span id="streetview-label-1">Street View</span>
        </button>
      </div>

      <div id="input-box-1" class="box-element" style="display:none">
        <div class="ui form">
          <div class="field">
            <label id="sendmsg-1">Send a message</label>
            <textarea id="person-1-message" rows="2"></textarea>
          </div>
          <button class="ui compact button" id="person-1-submit-message">
            <i class="paper plane icon"></i>
            <span class="send-1">Send</span>
          </button>
        </div>
      </div>

      <div id="person-1-warning" class="ui red small message" style="display:none;">
        <i class="close icon"></i>
        <div class="header">
        </div>
        <p>Please wait for User 2 to choose his/her language
      </p></div>

      <div id="person-1-report-error" class="box-element" style="text-align: center;bottom:-10; left:0;">
        <div class="ui form">
          <div class="field">
            <label id="person-1-understand-prompt">Do you understand what the other person is saying?</label>
          </div>
          <div class="ui buttons">
            <button id="person-1-understands" class="ui compact positive button">Yes</button>
            <div class="or"></div>
            <button id="person-1-doesnotunderstand" class="ui compact negative button">No</button>
          </div>
        </div>
      </div>


      <script>

      $('#ask-directions-button-1').click(function() {
        if (person_2_language != null) {
          $('#ask-directions-box-1').css('display','');
          $('#send-directions-box-1').css('display','none');
          $('#input-box-1').css('display','none');
        }
        else {
          $('#person-1-warning').css('display','');
        }
      });

      $('#send-directions-button-1').click(function() {
        if (person_2_language != null) {
          $('#send-directions-box-1').css('display','');
          $('#input-box-1').css('display','none');
          $('#ask-directions-box-1').css('display','none');
        }
        else {
          $('#person-1-warning').css('display','');
        }
      });

      $('#chat-button-1').click(function() {
        if (person_2_language != null) {
          $('#input-box-1').css('display','');
          $('#send-directions-box-1').css('display','none');
          $('#ask-directions-box-1').css('display','none');
        }
        else {
          $('#person-1-warning').css('display','');
        }
      });

      </script>

    </div>

    <div class="ui raised text container segment wrapper">

      <div id="chatbox">
      </div>


    </div>

    <!-- Person 2 Control Box -->
    <div class="box wrapper" id="person-2-box-wrapper">
      <div style="text-align:center;margin-top:5px">
        <img class="user-icon" src="img/user2.svg"/>
      </div>
      <!-- Choose Language -->
      <div class="ui form box-element">
        <div class="tiny field">
          <label id="language-2" style="text-align:center"><img class="icon" src="img/language.svg"/>Language</label>
          <select class="ui person-2 search dropdown" id="person-2-language-input">
            <option value="">Select Language</option>
            <option value="af">Afrikaans</option>
            <option value="ar">Arabic</option>
            <option value="apc">Arabic, Levantine</option>
            <option value="bn">Bangla</option>
            <option value="bs">Bosnian (Latin)</option>
            <option value="bg">Bulgarian</option>
            <option value="yue">Cantonese (Traditional)</option>
            <option value="ca">Catalan</option>
            <option value="zh-Hans">Chinese Simplified</option>
            <option value="zh-Hant">Chinese Traditional</option>
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="dl">Dutch</option>
            <option value="en">English</option>
            <option value="et">Estonian</option>
            <option value="fj">Fijian</option>
            <option value="fil">Filipino</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="ht">Haitian Creole</option>
            <option value='he'>Hebrew</option>
            <option value='hi'>Hindi</option>
            <option value='mww'>Hmong Daw</option>
            <option value='hu'>Hungarian</option>
            <option value='is'>Icelandic</option>
            <option value='id'>Indonesian</option>
            <option value='it'>Italian</option>
            <option value='ja'>Japanese</option>
            <option value='sw'>Kiswahili</option>
            <option value='tlh'>Klingon</option>
            <option value='tlh-Qaak'>Klingon (plqaD)</option>
            <option value='ko'>Korean</option>
            <option value='lv'>Latvian</option>
            <option value='lt'>Lithuanian</option>
            <option value='mg'>Malagasy</option>
            <option value='ms'>Malay</option>
            <option value='mt'>Maltese</option>
            <option value='nb'>Norwegian</option>
            <option value='fa'>Persian</option>
            <option value='pl'>Polish</option>
            <option value='pt'>Portuguese</option>
            <option value='otq'>Queretaro Otomi</option>
            <option value='ro'>Romanian</option>
            <option value='ru'>Russian</option>
            <option value='sm'>Samoan</option>
            <option value='sr-Cyrl'>Serbian (Cyrillic)</option>
            <option value='sr-Latn'>Serbian (Latin)</option>
            <option value='sk'>Slovak</option>
            <option value='sl'>Slovenian</option>
            <option value='es'>Spanish</option>
            <option value='sv'>Swedish</option>
            <option value='ty'>Tahitian</option>
            <option value='ta'>Tamil</option>
            <option value='te'>Telugu</option>
            <option value='th'>Thai</option>
            <option value='to'>Tongan</option>
            <option value='tr'>Turkish</option>
            <option value='uk'>Ukrainian</option>
            <option value='ur'>Urdu</option>
            <option value='vi'>Vietnamese</option>
            <option value='cy'>Welsh</option>
            <option value='yua'>Yucatec Maya</option>
          </select>
          <div id="person-2-language-prompt" class="ui red basic pointing label">
            Please enter a language
          </div>
        </div>
      </div>

      <!-- 3 types of inputs: 1) Request for Directions (display form) 2) Send Directions (Google Maps) 3) Free Text -->
      <div id="select-input-type" class="box-element" style="text-align:center">
        <div class="ui vertical animated button" id="ask-directions-button-2" tabindex="0">
          <div class="hidden content" id="ask-2">Ask</div>
          <div class="visible content">
            <i class="question icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button" id="send-directions-button-2" tabindex="0">
          <div class="hidden content send-2">Send</div>
          <div class="visible content">
            <i class="map signs icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button" id="chat-button-2" tabindex="0">
          <div class="hidden content" id="chat-2">Chat</div>
          <div class="visible content">
            <i class="chat icon"></i>
          </div>
        </div>
      </div>

      <!-- Display the corresponding type of input form -->
      <div id="ask-directions-box-2" class="box-element" style="display:none">
        <div class="ui form">
          <div class="field">
            <label id="start-label-2">Start location</label>
            <input class="directions-input" type="text" id="start-location-2" name="start-location" placeholder="Duke University">
          </div>
          <div class="field">
            <label id="end-label-2">End location</label>
            <input class="directions-input" type="text" id="end-location-2" name="end-location" placeholder="Namu Durham">
          </div>
          <button class="ui compact button" id="person-2-submit-request">
            <i class="paper plane icon"></i>
            <span class="send-2">Send</span>
          </button>
        </div>
      </div>

      <div id="send-directions-box-2" class="box-element" style="display:none;text-align:center">
        <button class="ui tiny icon button" id="person-2-send-gmaps">
          <img style="width:20px;" src="img/gps.svg"/>
          <span id="directions-2">Directions</span>
        </button>
        <button class="ui tiny icon button" id="person-2-send-streetview">
          <img style="width:20px;" src="img/street-view.svg"/>
          <span id="streetview-label-2">Street View</span>
        </button>
      </div>

      <div id="input-box-2" class="box-element" style="display:none">
        <div class="ui form">
          <div class="field">
            <label id="sendmsg-2">Send a message</label>
            <textarea id="person-2-message" rows="2"></textarea>
          </div>
          <button class="ui compact button" id="person-2-submit-message">
            <i class="paper plane icon"></i>
            <span class="send-2">Send</span>
          </button>
        </div>
      </div>

      <div id="person-2-warning" class="ui red small message" style="display:none;">
        <i class="close icon"></i>
        <div class="header">
        </div>
        <p>Please wait for User 1 to choose his/her language
      </p></div>

      <div id="person-2-report-error" class="box-element" style="text-align: center;bottom:-10; left:0;">
        <div class="ui form">
          <div class="field">
            <label id="person-2-understand-prompt">Do you understand what the other person is saying?</label>
          </div>
          <div class="ui buttons">
            <button id="person-2-understands" class="ui compact positive button">Yes</button>
            <div class="or"></div>
            <button id="person-2-doesnotunderstand" class="ui compact negative button">No</button>
          </div>
        </div>
      </div>


      <script>

      $('#ask-directions-button-2').click(function() {
        if (person_1_language != null) {
          $('#ask-directions-box-2').css('display','');
          $('#send-directions-box-2').css('display','none');
          $('#input-box-2').css('display','none');
        }
        else {
          $('#person-2-warning').css('display','');
        }
      });

      $('#send-directions-button-2').click(function() {
        if (person_1_language != null) {
          $('#send-directions-box-2').css('display','');
          $('#input-box-2').css('display','none');
          $('#ask-directions-box-2').css('display','none');
        }
        else {
          $('#person-2-warning').css('display','');
        }
      });

      $('#chat-button-2').click(function() {
        if (person_1_language != null) {
          $('#input-box-2').css('display','');
          $('#send-directions-box-2').css('display','none');
          $('#ask-directions-box-2').css('display','none');
        }
        else {
          $('#person-2-warning').css('display','');
        }
      });

      </script>

    </div>


    <div class="ui tiny modal">
      <i class="close icon"></i>
      <div class="header">
        How this works
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big blue language icon"></i>
        </div>
        <div class="description">
          <p>Select your primary language</p>
        </div>
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big pink question icon"></i>
        </div>
        <div class="description">
          <p>Ask your partner for directions</p>
        </div>
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big green map signs icon"></i>
        </div>
        <div class="description">
          <p>Send your partner Google Maps Directions or a Google Street View</p>
        </div>
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big orange chat icon"></i>
        </div>
        <div class="description">
          <p>Chat with your partner and/or provide more detailed directions</p>
        </div>
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big red thumbs up icon"></i>
        </div>
        <div class="description">
          <p>Provide feedback on the translation quality</p>
        </div>
      </div>
      <div class="image content">
        <div class="ui medium icon">
          <i class="ui big yellow ellipsis horizontal icon"></i>
        </div>
        <div class="description">
          <p>Each user's messages will be translated into the other user’s primary language. <b>Note: </b>the start/end locations for the directions and street view services has been hardcoded in this prototype.</p>
        </div>
      </div>
      <div class="actions">
        <div class="ui deny button">
          Ok
        </div>
      </div>
    </div>



<!-- End of container -->
</div>

</body>
<div id="outer">
  <div class="g-map" id="map-clone"></div>
  <div id="right-panel"></div>
  <div class="sv" id="street-view"></div>
</div>

<script>

function keepScrolledDown() {
  var chatbox = document.querySelector(".ui.raised.text.container.segment.wrapper");
  chatbox.scrollTop = chatbox.scrollHeight;
}

$('#info-button').click(function() {
  $('.ui.modal')
  .modal('show')
;
})

var panorama;

function init() {
   initMap();
   initialize();
}

function initialize() {

  // if person 1 sends streetview
  $('#person-1-send-streetview').click(function() {

    var cloned_sv = $('#street-view').clone();
    cloned_sv.addClass('sv');

    $('#chatbox').append(`<div class="from-them" id="person1-sv-${person_1_streetview_num}"></div><div class="clear"></div>`);
    $(`#person1-sv-${person_1_streetview_num}`).append(cloned_sv);
    cloned_sv.css('display','');
    cloned_sv.css('position','relative');
    cloned_sv.attr('id',`p1-sv-${person_1_streetview_num}`);

    panorama = new google.maps.StreetViewPanorama(
    document.getElementById(`p1-sv-${person_1_streetview_num}`),
    {
      position: {lat: 35.952591, lng: -78.996490},
      pov: {heading: 165, pitch: 0},
      zoom: 1
    });

    person_1_streetview_num += 1;
    keepScrolledDown();
  });

  // if person 2 sends streetview
  $('#person-2-send-streetview').click(function() {

    var cloned_sv = $('#street-view').clone();
    cloned_sv.addClass('sv');

    $('#chatbox').append(`<div class="from-me" id="person2-sv-${person_2_streetview_num}"></div><div class="clear"></div>`);
    $(`#person2-sv-${person_2_streetview_num}`).append(cloned_sv);
    cloned_sv.css('display','');
    cloned_sv.css('position','relative');
    cloned_sv.attr('id',`p2-sv-${person_2_streetview_num}`);

    panorama = new google.maps.StreetViewPanorama(
    document.getElementById(`p2-sv-${person_2_streetview_num}`),
    {
      position: {lat: 35.952591, lng: -78.996490},
      pov: {heading: 165, pitch: 0},
      zoom: 1
    });

    person_2_streetview_num += 1;
    keepScrolledDown();
  });


}

// map setup
function initMap() {

  start = 'Duke University';
  end = "Namu Durham";

  var chicago = new google.maps.LatLng(41.850033, -87.6500523);
  // iterate through all maps
  var list_of_maps = [].slice.call(document.getElementsByClassName('g-map'));

  list_of_maps.forEach(function(item, index) {
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();

    var map = new google.maps.Map(item, {zoom: 7, center: chicago});
    directionsDisplay.setMap(map);

    var marker = new google.maps.Marker({position: chicago, map: map});

    calcRoute(directionsService, directionsDisplay, start, end);

    // add event listener here
    $('#person-1-send-gmaps').click(function() {

      curr_start_location = person_2_start_location;
      curr_end_location = person_2_end_location;
      // clone panel
      var cloned_panel = $('#right-panel').clone();
      cloned_panel.addClass('panel');
      cloned_panel.attr('id', `person1-panel-${person_1_map_num}`);
      $('#outer').append(cloned_panel);
      directionsDisplay.setPanel(document.getElementById(`person1-panel-${person_1_map_num}`));
      $('#chatbox').append(`<div class="from-them" id="person1-map-${person_1_map_num}"></div><div class="clear"></div>`);
      var cloned_map = $('#map-clone').clone();
      cloned_map.css('display','');
      cloned_map.removeAttr('id', 'map-clone');
      cloned_map.children(":first").css('position','relative');

      $(`#person1-map-${person_1_map_num}`).append(cloned_map);
      $(`#person1-map-${person_1_map_num}`).append($(`#person1-panel-${person_1_map_num}`));
      $(`#person1-panel-${person_1_map_num}`).css('position','relative');

      person_1_map_num += 1;

      keepScrolledDown();
    })

    $('#person-2-send-gmaps').click(function() {

      curr_start_location = person_1_start_location;
      curr_end_location = person_1_end_location;

      // clone panel
      var cloned_panel = $('#right-panel').clone();
      cloned_panel.addClass('panel');
      cloned_panel.attr('id', `person2-panel-${person_2_map_num}`);
      $('#outer').append(cloned_panel);
      directionsDisplay.setPanel(document.getElementById(`person2-panel-${person_2_map_num}`));
      $('#chatbox').append(`<div class="from-me" id="person2-map-${person_2_map_num}"></div><div class="clear"></div>`);
      var cloned_map = $('#map-clone').clone();
      cloned_map.css('display','');
      cloned_map.removeAttr('id', 'map-clone');
      cloned_map.children(":first").css('position','relative');

      $(`#person2-map-${person_2_map_num}`).append(cloned_map);
      $(`#person2-map-${person_2_map_num}`).append($(`#person2-panel-${person_2_map_num}`));
      $(`#person2-panel-${person_2_map_num}`).css('position','relative');

      person_2_map_num += 1;

      keepScrolledDown();
    })
  });
}

function calcRoute(directionsService, directionsDisplay, curr_start_location, curr_end_location) {

  var request = {
    origin: curr_start_location,
    destination: curr_end_location,
    travelMode: 'DRIVING'
  };

  directionsService.route(request, function(result, status) {
    if (status == 'OK') {
      directionsDisplay.setDirections(result);
    }
  });
}

function processSVData(data, status) {
  if (status === 'OK') {
    var marker = new google.maps.Marker({
      position: data.location.latLng,
      map: map,
      title: data.location.description
    });

    panorama.setPano(data.location.pano);
    panorama.setPov({
      heading: 270,
      pitch: 0
    });
    panorama.setVisible(true);

    marker.addListener('click', function() {
      var markerPanoID = data.location.pano;
      // Set the Pano to use the passed panoID.
      panorama.setPano(markerPanoID);
      panorama.setPov({
        heading: 270,
        pitch: 0
      });
      panorama.setVisible(true);
    });
  } else {
    console.error('Street View data not found for this location.');
  }
}

$('#person-1-language-input').change(function() {

  $('#person-2-warning').css('display','none');

  $('#person-1-language-prompt').css('display','none');

  person_1_language = $('#person-1-language-input').val();
  $.get( `http://naviglator.herokuapp.com/translate-controls?lang=` + person_1_language, function( data ) {

    // translate control buttons
    $('#ask-1').text(data.ask_translated);
    $('.send-1').text(data.send_translated);
    $('#chat-1').text(data.chat_translated);
    $('#start-label-1').text(data.start_translated);
    $('#end-label-1').text(data.end_translated);
    $('#directions-1').text(data.directions_translated);
    $('#streetview-label-1').text(data.streetview_translated);
    $('#sendmsg-1').text(data.sendmsg_translated);
    $('#person-1-understand-prompt').text(data.understand_prompt_translated);

    var person_1_language_full = $('div.ui.person-1.dropdown.selection > div.text').text();
    $('#language-1').html('<img class="icon" src="img/language.svg"/>Language: ' + `<span style="color:#FFA726;">` + person_1_language_full + '</span>');

  });
})

$('#person-2-language-input').change(function() {

  $('#person-1-warning').css('display','none');

  $('#person-2-language-prompt').css('display','none');

  person_2_language = $('#person-2-language-input').val();
  $.get( `http://naviglator.herokuapp.com/translate-controls?lang=` + person_2_language, function( data ) {

    // translate control buttons
    $('#ask-2').text(data.ask_translated);
    $('.send-2').text(data.send_translated);
    $('#chat-2').text(data.chat_translated);
    $('#start-label-2').text(data.start_translated);
    $('#end-label-2').text(data.end_translated);
    $('#directions-2').text(data.directions_translated);
    $('#streetview-label-2').text(data.streetview_translated);
    $('#sendmsg-2').text(data.sendmsg_translated);
    $('#person-2-understand-prompt').text(data.understand_prompt_translated);

    var person_2_language_full = $('div.ui.person-2.dropdown.selection > div.text').text();
    $('#language-2').html('<img class="icon" src="img/language.svg"/>Language: ' + `<span style="color:#42A5F5;">` + person_2_language_full + '</span>');

  });
})


// if person 1 requests for directions
$('#person-1-submit-request').click(function() {
  var start_location = $('#start-location-1').val();
  var end_location = $('#end-location-1').val();

  person_1_start_location = start_location;
  person_1_end_location = end_location;

  var request = 'I need directions to get from ' + '123' + ' to ' + '456';
  $.get( `http://naviglator.herokuapp.com/translate?input=` + request + '&lang=' + person_2_language, function( data ) {
    var res = data.replace('123','<b>' + start_location + '</b>');
    var res = res.replace('456','<b>' + end_location + '</b>');
    $('#chatbox').append(`<div class="from-them"><p><i class="ui question icon"></i>&nbsp;${res}<p/><p>${start_location}&nbsp;<i class="ui chevron circle right icon"></i>&nbsp;${end_location}</p></div><div class="clear"></div>`);

    keepScrolledDown();
  });
})

// if person 2 requests for directions
$('#person-2-submit-request').click(function() {
  var start_location = $('#start-location-2').val();
  var end_location = $('#end-location-2').val();

  person_2_start_location = start_location;
  person_2_end_location = end_location;

  var request = 'I need directions to get from ' + '123' + ' to ' + '456';
  $.get( `http://naviglator.herokuapp.com/translate?input=` + request + '&lang=' + person_1_language, function( data ) {
    var res = data.replace('123','<b>' + start_location + '</b>');
    var res = res.replace('456','<b>' + end_location + '</b>');
    $('#chatbox').append(`<div class="from-me"><p><i class="ui question icon"></i>&nbsp;${res}<p/><p>${start_location}&nbsp;<i class="ui chevron circle right icon"></i>&nbsp;${end_location}</p></div><div class="clear"></div>`);

    keepScrolledDown();
  });
})

// if Person 1 submits a chat message
$('#person-1-submit-message').click(function() {
  // get input data
  var input = $('#person-1-message').val();
  $('#person-1-message').val('');

  // if person 2 has entered a language, proceed
  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_2_language, function( data ) {
    $('#chatbox').append('<div class="from-them"><p><i class="ui chat icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });

})

// if Person 2 submits a chat message
$('#person-2-submit-message').click(function() {
  // get input data
  var input = $('#person-2-message').val();
  $('#person-2-message').val('');

  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_1_language, function( data ) {
    $('#chatbox').append('<div class="from-me"><p><i class="ui chat icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });
})

$('#person-1-understands').click(function() {

  var input = "I understand what you are saying";

  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_2_language, function( data ) {
    $('#chatbox').append('<div class="from-them success-translation"><p><i class="ui smile icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });
});

$('#person-1-doesnotunderstand').click(function() {

  var input = "I do not understand what you are saying";

  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_2_language, function( data ) {
    $('#chatbox').append('<div class="from-them error-translation"><p><i class="ui frown icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });
});

$('#person-2-understands').click(function() {

  var input = "I understand what you are saying";

  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_1_language, function( data ) {
    $('#chatbox').append('<div class="from-me success-translation"><p><i class="ui smile icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });
});

$('#person-2-doesnotunderstand').click(function() {

  var input = "I do not understand what you are saying";

  $.get( `http://naviglator.herokuapp.com/translate?input=` + input + '&lang=' + person_1_language, function( data ) {
    $('#chatbox').append('<div class="from-me error-translation"><p><i class="ui frown icon"></i>&nbsp;' + data + '</p></div><div class="clear"></div>');

    keepScrolledDown();
  });
});

$('.ui.dropdown')
.dropdown()
;

$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;

</script>
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8JPMWkUVF6XwKAyuwRLZmQcSH88EruB4&callback=initMap">
    </script> -->
<script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbZzqAx7aXsBeZ2Y2HYicmSzN7L4fzKgA&callback=init">
</script>

</html>
